<section class="px-4 py-6 sm:px-6 lg:px-10 lg:py-10 flex flex-col gap-5">
    <h2 class="text-2xl sm:text-3xl font-bold text-lime-600">Welcome to the Library</h2>
    <!-- <div>Breadcrumps here</div> -->
    <div class="flex flex-col gap-8">
        <div>
            <h3 class="text-lg sm:text-xl font-bold text-lime-600 ml-1 sm:ml-3 mb-1">Trending Books</h3>
            <div id="trending-carousel" class="flex gap-4 sm:gap-6 overflow-x-auto pb-4 scrollbar-hide snap-x"></div>
        </div>
        <div>
             <h3 class="text-lg sm:text-xl font-bold text-lime-600 ml-1 sm:ml-3 mb-1">Fantasy</h3>
             <div id="fantasy-carousel" class="flex gap-4 sm:gap-6 overflow-x-auto pb-4 scrollbar-hide snap-x"></div>
        </div>
        <div>
             <h3 class="text-lg sm:text-xl font-bold text-lime-600 ml-1 sm:ml-3 mb-1">Fiction</h3>
             <div id="fiction-carousel" class="flex gap-4 sm:gap-6 overflow-x-auto pb-4 scrollbar-hide snap-x"></div>
        </div>
        <div>
             <h3 class="text-lg sm:text-xl font-bold text-lime-600 ml-1 sm:ml-3 mb-1">Horror</h3>
             <div id="horror-carousel" class="flex gap-4 sm:gap-6 overflow-x-auto pb-4 scrollbar-hide snap-x"></div>
        </div>
        <div>
             <h3 class="text-lg sm:text-xl font-bold text-lime-600 ml-1 sm:ml-3 mb-1">Romance</h3>
             <div id="romance-carousel" class="flex gap-4 sm:gap-6 overflow-x-auto pb-4 scrollbar-hide snap-x"></div>
        </div>
    </div>
</section>